*{
    padding: 0;
    margin: 0;
    font-family: 'Montserrat',sans-serif;
}
header{
    box-shadow: 0px 10px 60px rgba(87, 79, 79,0.16);
    background-color: white;
}
.background{
    background: linear-gradient(150deg, rgba(255,255,255,1) 0%, rgba(239,166,166,1) 100%);
}
.container-header{
    display: grid;
    grid-template-columns: 60% 40%;
    height: 10vh;
}
.title-header{
font-size: 2.4rem;
padding-left: 10%;
line-height: 10vh;
font-weight: 600;
color: #F7153D;
}
.header-content{
    display: inline-block;
    text-align: center;
    font-size: 1.4rem;
    line-height: 10vh;
}
.content-header{
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr;
}
.body-container{
    display: grid;
    margin-top: 8vh;
    grid-template-columns: 15% 70% 15%;
}
.body-title{
    grid-column: 1 / 4;
    text-align: center;
    font-size: 5rem;
    font-weight: 600;
}
.body-content{
    padding-top: 50px;
    grid-column: 2/3;
    font-size: 1.3rem;
    line-height: 40px;
}
p{
    padding-bottom: 30px;
}
.mini-title{
    width: 100%;
    font-weight: 500;
    font-size: 2.3rem;
    padding-bottom: 13px;
}
.vertical-nav{
    position: fixed;
    left: 70%;
    top: 70%;
    font-size: 16px;
    width: 40%;
    transform: rotate(90deg);
    font-weight: 400;
    letter-spacing: 2px;
}
.line{
    display: inline-block;
    height: 1px;
    width: 80px;
    background-color: black;
    margin-bottom: 5px;
    margin-left:10px;
    margin-right:10px;
}
.inside-text{
    display: inline-block;
}
.active{
    font-weight: 600;
}
::-webkit-scrollbar {
    width: 10px;
  }
  
  ::-webkit-scrollbar-track {
    box-shadow: inset 0 0 5px grey; 
    border-radius: 10px;
  }
   
   ::-webkit-scrollbar-thumb {
    background:#ff625a;
    border-radius: 10px;
  }
  
   ::-webkit-scrollbar-thumb:hover {
    background: rgb(218, 145, 145);
  }