*{
    margin: 0;
    padding: 0;
    font-family: 'Montserrat',sans-serif;
    overflow-y: hidden;
}

.background{
    height: 100vh;
    width: 100vw;
    background-image: url('../images/background.jpg');
    background-size: cover;

}
header{
    width: 100vw;
    padding-left: 5%;
    color: white;
    padding-top: 50px;
}
.days-rem{
    font-weight:bold;
    font-size: 5rem;
    display: inline-block;
}
.header-info{
    display: inline-block;
}
.days-rem-message{
    position: absolute;
    color: white;
    top: 75px;
}
.header-info{
    margin-left: 2rem; 
    font-size: 1.25rem;
}
.header-animation{
    color: #F7153D;
    transform: scaleY(1.1);
    font-weight: 600;
}
.header-line{
    transform: rotate(90);
    height: 15vh;
    position: absolute;
    top:4%;
    left:10.5%;
    border: 0.5px solid #707070;
}
.side-line{
    transform: rotate(90);
    height: 10%;
    position: absolute;
    top:42%;
    left:88.3%;
    z-index: 3;
    border: 0.5px solid #707070;
    transition: 0.5s all;
}
.body-des{
    position: absolute;
    top:27%;
    left:12%;
}
.body-des-img:hover{
    transform: scaleX(1.2);
    transform-origin: left;
}
.body-des-img{
    height: 18px;
    width: 60px;
    transform: scaleX(1);
    transform-origin: left;
    transition: all 0.4s;
}
.body-des-2{
    position: absolute;
    top:62%;
    left:12%;
}
.title-container{
    /* padding-left: 465px; */
    padding-left: 23%;
    padding-top: 8.5%;
}
.main-title{
    font-family: 'Montserrat',sans-serif;
    font-weight: bold;
    font-size: 6.25rem;
    color: #F7153D;
    letter-spacing: 1rem;
}
.caption-title{
    font-family: 'Montserrat',sans-serif;
    font-weight: bold;
    padding-left: 32%;
    font-size: 4.37rem;
    display: inline-block;
    color: white;
    letter-spacing: 1rem;
}
.cross-text{
    font-weight: 200;
    position: absolute;
    width: 280px;
    height: 75px;
    font-size: 18px;
    transform: scaleY(1.1);
    letter-spacing: 6px;
    color: white;
    z-index: 1;
    transform: rotate(90deg);
    transition: 0.3s all;
    transform-origin: left top 0;
}
.cross-text:hover{
    font-weight: 300;
    cursor: pointer;
}
.cross-text-1{
    top: 90px;
    left: 89%;
}
.cross-text-2{
    top: 550px;
    left: 89%;
}
.social-media-container{
    height: 100px;
    color: white;
    padding-top: 0px;
    font-size: 25px;
    font-weight: 300;
    letter-spacing: 1px;
    padding-left: 295px;
}
.social-media-logo-container{
    width: inherit;
    height: 100%;
    margin-top: 30px;
}
.social-media-logo{
    height: 43px;
    padding-right: 34px;
}
.social-media-container:hover{
    cursor: pointer;
} 
.instagram{
    width:43px;
}
.facebook{
    width:24px;
}
.github{
    width: 45px;
}
.twitter{
    width: 52px
}
.getnotified{
    padding-top: 130px;
    padding-left: 700px;
}
.svg-wrapper {
    height: 60px;
    margin: 0 auto;
    position: relative;
    top: 50%;
    transform: translateY(-50%);
    width: 320px;
  }
 .rect-shape {
    fill: transparent;
    stroke-dasharray: 220 800;
    stroke-dashoffset: -115; 
    stroke-width: 12px;
    stroke: #F7153D;
  } 
  .text {
    color: #fff;
    font-family: 'Roboto Condensed';
    font-size: 22px;
    letter-spacing: 8px;
    line-height: 32px;
    position: relative;
    width: 300px;
    top: -80px;
    padding-left: 110px;
    text-align: left;
  }
  #text {
    color: #fff;
    font-family: 'Roboto Condensed';
    font-size: 22px;
    letter-spacing: 8px;
    line-height: 32px;
    position: relative;
    width: 300px;
    top: -80px;
    padding-left: 110px;
    text-align: left;
  }

  .svg-rect-wrapper{
      width: 500px;
  }
  .svg-rect-wrapper:hover .rect-shape  {
    -webkit-animation: 0.5s draw linear forwards;
    animation: 0.5s draw linear forwards;
  }
  .svg-rect-wrapper .text {
    transition: all 1s;
  }
  .svg-rect-wrapper:hover .text {
    color: #F7153D;
    font-weight: bolder;
    /* font-size: 22px; */
  }
  .svg-rect-wrapper:hover{
    cursor: pointer;
  }
  .svg-rect-wrapper:hover .rect-shape {
    transition: all 1s;
    }
  .svg-rect-wrapper:hover .rect-shape {
    fill:white;
  } 
  /* dropdownmenu */
  .menu-container{
      position: absolute;
      top: 0;
      left: 0;
      height: 0vh;
      width: 100vw;
      background-color: #fff;
      z-index: 10;    
      /* animation: openMenu 2s linear 0 1; */
  }
  .openAnimation{
    animation: openMenu 0.3s linear 1s 1;
    /* animation-play-state: paused; */
  }
  .menu-closed{
      visibility: hidden;
  }
  .menu-closer{
    height: 40px;
    width: 40px;
    display: inline-block;
    margin-left: 92vw;
    margin-top: 50px;
  }
  .menu-cross{
   height: 38px;
   width: 38px;   
  }
  .countdownContainer{
      height: 0;
  }
  .svg-wrapper{
      height: 0;
      visibility: hidden;
  }
  
  @keyframes openMenu {
      0%{
          height: 0;
          opacity: 0.7;
      }
      100%{
          height: 60vh;
          opacity: 1;
      }
  }
  @keyframes draw {
    0% {
        stroke-dasharray: 220 800;
        stroke-dashoffset: -115; 
        stroke-width: 12px;
    }
    100% {
      stroke-dasharray: 1400;
      stroke-dashoffset: 0;
      stroke-width: 4px;
    }
  }
 
  @media (max-width: 600px) {
    
    
    .cross-text,.side-line{
        visibility: hidden;
    }
    .days-rem{
        font-size: 3rem;
        
    }
    .header-line{
        left: 92px;
    }
    .header-info{
        margin-left: 1rem;
        font-size: 0.8rem;
        font-weight: 300;
        letter-spacing: 0px;
    }
    .days-rem-message{
        top: 40px;
        left: 93px;
    }
    header{
        padding-top: 30px;
    }
    .header-line{
        height: 10vh;
    }
    .body-des-img {
        height: 10px;
        width: 50px;
    }
    .body-des {
        top: 17%;
        visibility: hidden;
        left: 4%;
    }
    .body-des-2 {
        top: 41vh;
        visibility: hidden;
        left: 4%;
    }
    .main-title{
        font-size: calc(5vw + 20px);
        letter-spacing: 0.6rem;
    }
    .title-container{
        /* padding-left: 10%; */
        padding-top: 7vh;
        width: 100vw;
        text-align: center;
        padding-left: 0;
    }
    .caption-title {
        width: 100vw;
        padding-left: 0;
        text-align: center;
        font-size: calc(5vw);
        padding-top: 20px;
        display: inline-block;
        color: white;
        letter-spacing: 0.6rem;
    }
    .countdownContainerAllign{
        margin: 0 21vw;
        display: inline-block;
    }
    .countdownContainer{
        width: 100%;
        height: 60vw;
        margin-top: 4vh;
    }
    .circle{
        height: 25vw;
        width: 25vw;
        display: inline-block;
        border-radius: 20px;
        margin-right: 2vw;
        border: 2px solid #707070;
        margin-bottom: 10px;
        text-align: center;
        color: #fff;
        font-weight: lighter;
    }
    .circleText{
        /* display: inline-block; */
        color: #F7153D;
        font-weight: 400;
        font-size: 40px;
        padding-top: 1.5vh;
    }
    .Ncircle{
        height: 90px;
        width: 90px;
        display: block;
        border-radius: 100px;
        margin-right: 20px;
        border: 2px solid #707070;
    }
    .svg-rect-wrapper{
        visibility: hidden;
        height: 0;
    }
    .svg-wrapper {
        height: 60px;
          margin: 0 auto;
        position: relative;
        top: 50%;
        transform: translateY(-50%);
        width: 320px;
        
      visibility: visible;
      }
      .shape {
        fill: transparent;
        stroke-dasharray: 140 540;
        stroke-dashoffset: -474;
        stroke-width: 8px;
        stroke: #F7153D;
     
      }
      #text {
        color: #fff;
        /* font-family: 'Roboto Condensed'; */
        font-size: 18px;
        font-weight: 300;
        letter-spacing: 8px;
        line-height: 32px;
        position: relative;
        top: -48px;
        padding-left: 10px; 
        text-align: center;
    }
     
      .getnotified {
        padding-top: 40px;
        padding-left: 0px;
    }
      
      .svg-wrapper:active .shape {
        -webkit-animation: 0.5s drawS linear forwards;
        animation: 0.5s drawS linear forwards;
      }  
      
      /* .svg-wrapper:active .text {
        transition: all 0.3s;
    }     */
      /* .svg-wrapper:active .text {
          color: #F7153D;
          font-weight: 400;
          font-size: 17px;
      } */
      .social-media-container{
          padding-left: 10vw;
          font-size: 0.8rem;
          font-weight: 300;
          padding-left: 27vw;
          transform: scaleY(1.05);
      }    
      .social-media-logo-container{
          margin-top: 2vh;
          margin-left: 5vw;
      }
      .social-media-logo {
        height: 20px;
        padding-right: 15px;
    }
    @keyframes animaT {
        0%{
            color: #fff;
            font-weight: 300;
        }
        99%{
            color: #F7153D;
            font-weight: 400;
        }
        100%{
            color: #fff;
            font-weight: 400;
        }
    }
    @keyframes drawS {
        0% {
          stroke-dasharray: 140 540;
          stroke-dashoffset: -474;
          stroke-width: 6px;
          fill:transparent;
        }
        99% {
            stroke-dasharray: 760;
            stroke-dashoffset: 0;
            stroke-width: 3px;
            fill:white;
            color: #F7153D;
          }
        100% {
          stroke-dasharray: 760;
          stroke-dashoffset: 0;
          stroke-width: 3px;
          fill:transparent;
          color: #fff;
        }
      }
    .animationClass{
        animation:  0.5s animaT linear forwards;
    }
    .animationClassDraw{
        animation:  0.5s drawS linear forwards;
    }
    .emailPopper{
        position: absolute;
        top: 100vh;
        left: 0;
        width: 100vw;
        background: #fff;
        height: 30vh;
    }
    .emailPopperHeader{
        height: 10vh;
        width:100%;
        font-size: 1.3rem;
        font-weight: 600;
        letter-spacing: 1.5px;
        text-align: center;
        margin-top: 3vh;
        /* padding-left: 10%; */
    }
    .emailPopperSpan{
        padding: 0 10%;
        /* margin-top: 3vh; */
        /* width: 100vw; */
        text-align: center;
        padding-top: 1.6vh;
        font-size: 1rem;
        font-weight: 500;
        color: #F7153D;
    }
   .emailInput{
        margin-top: 1vh;
        height: 12vh;
        width: 100vw;
        /* background-color: #F7153D; */
   }
.inputEmail{
    width: 60vw;
    margin: 0 20vw;
    padding: 0 0;
}
input{
    border: none;
    font-size: 18px;
    border-bottom: 1px solid red;
}
input:focus{
    outline: none;
    background: #fff;
}
input::placeholder {
    color: #707070;
    font-size: 15px;
  }
#submit{
    width: 24vw;
    height: 40px;
    margin-left: 42vw;
    margin-top: 3vh;
    border-radius: 10px;
    border: 1px solid black;
    background-color: black;
    color: #fff;
    font-size: 0.8rem;
    font-weight: 600;
}  
#submit:active{
    color: #F7153D;
    transform: scale(1.1); 
}
}
@media (max-width: 360px) {
  .title-container{
    padding-top: 0vh;
  }
  html{
      font-size: 12px;
  }
}
